<div class="snitch-reporting">
  <div class="snitch-nav">
    <div class="nav-tab">
      <input type="search" name="search" value="<%= params[:search] %>" placeholder="Search">
    </div>
    <a href="<%#  %>">Status</a>
    <a href="<%#  %>">Assignee</a>
    <a href="<%#  %>">Occurred</a>
    <a href="<%#  %>">Ignored</a>
  </div>

  <div class="snitch-index">
    <div class="snitch-title-section">
      <h1><%= Rails.application.class.parent.name %></h1>
      Sort
    </div>

    <div class="snitch-errors">
      <table>
        <thead>
          <tr>
            <th>Error</th>
            <th style="width: 100px;">Last</th>
            <th style="width: 1px;">Times</th>
            <th style="width: 1px;">Assigned</th>
            <th style="width: 1px;">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>NoMethodError in devices#display_criteria</td>
            <td>7:04 am -07:00</td>
            <td>10,384</td>
            <td>-</td>
            <td>Unresolved</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
