.snitch-reporting {
  .snitch-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: $snitch-blue;
    height: 50px;

    .nav-tab,
    a {
      display: inline-block;
      vertical-align: top;
      margin: 0;
      padding: 0 20px;
      height: 100%;
      color: white;
      font-size: 18px;
      font-weight: normal;
      line-height: 50px;
      text-decoration: none;
      white-space: nowrap;

      input {
        border-radius: 0;
        font-size: 18px;
      }
    }

    a:hover {
      background: lighten($snitch-blue, 10%);
    }
  }

  .snitch-search-area {
    display: flex;
    position: relative;
    flex-direction: row-reverse;

    .filters {
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      left: 0;
      z-index: 100;
      transition: all 0.3s;
      box-shadow: 2px 2px 4px $border-grey;
      border: 3px solid $border-grey;
      border-radius: 4px;
      background: white;
      padding: 20px;
    }

    input[name=search] {
      box-shadow: 2px 2px 4px $border-grey;
      border: 2px solid $border-grey;
      border-radius: 4px;
      width: 100%;
      font-size: 40px;
    }

    button[type=submit] {
      cursor: pointer;
      box-shadow: 2px 2px 4px $border-grey;
      border: 1px solid $border-grey;
      border-radius: 6px;
      background: linear-gradient($snitch-blue, darken($snitch-blue, 15%));
      padding: 0 12px;
      color: white;
      font-size: 18px;

      &:hover {
        background: linear-gradient(darken($snitch-blue, 15%), $snitch-blue, $snitch-blue);
      }
    }

    input[name=search]:focus + .filters {
      display: block;
    }
  }

  .snitch-breadcrumbs {}
}
