.snitch-report {
  .report-details {
    .banner {
      padding: 10px;
      font-size: 30px;
      text-align: center;
    }
  }
}

.snitch-report-table {
  max-width: 100%;
  table-layout: fixed;

  .tcell {
    word-wrap: break-word;
    width: 100px;
  }
  .title-col { width: 100%; }

  select {
    padding: 0 8px;
    width: 100%;
  }
}

.compress-wrapper {
  position: relative;

  .open-compressed {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      content: "Click to show";
    }
  }
  code.prettify {
    &.compressed {
      padding: 0;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
    }
  }
  &.open {
    code.prettify.compressed {
      padding: 30px 20px;
      height: auto;
      overflow: auto;
    }
    a::before { content: "Click to hide"; }
  }
}
