.snitch-reporting {
  .snitch-table {
    display: table;
    border-spacing: 0 0;
    width: 100%;

    .main-section {
      width: 100%;
    }

    .snitch-thead { display: table-header-group; }
    .snitch-tbody { display: table-row-group; }
    .snitch-tr { display: table-row; }

    .snitch-td, .snitch-th, .link-cell {
      display: table-cell;
      border: 1px solid $border-grey;

      padding: 20px;
      text-align: left;

      &.text-center {
        text-align: center;
      }
    }

    .link-cell {
      color: $text-color;
      text-decoration: none;

      &:hover {
        background: darken($background-grey, 5%);
      }
    }
  }

  .snitch-errors {
    .snitch-tbody .snitch-tr:nth-child(odd) {
      background: $background-grey;
    }

    .report-title-wrapper {
      margin-bottom: 5px;

      .report-title {
        color: $snitch-blue;
      }
    }
    .report-location {
      display: inline-block;
      color: orange;
    }
    .report-message {
      padding-top: 5px;
      color: grey;
    }
  }

  .snitch-section {
    &#summary {
      .snitch-table {
        .snitch-td:first-of-type {
          background: $background-grey;
          color: #AAA;
          font-size: 12px;
          text-align: right;
        }
      }
    }
  }
}
